/* Reset Default Styling */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 12px;
  margin: 0 auto;
}

.wrapper {
  max-width: 60%;
  margin: 0 auto;
}

a:visited,
a:link,
a:active {
  color: #ffffff;
  text-decoration: none;
}

header {
  width: 100%;
  height: 44px;
  background: transparent;
}

.logo {
  display: block;
}

.logo>a>figure {
  float: left;
  margin-top: 6px;
  margin-right: 6px;
  border: 1px solid #292929;
}

.logo>a>h1 {
  float: left;
  padding-top: 16px;
  font-weight: 900;
  letter-spacing: 1.2px;
}

nav {
  float: right;
  padding-top: 12px;
}

nav>ul {
  margin-right: 20px;
}

nav>ul>li {
  display: inline;
  font-size: 9px;
  padding: 0 8px;
  font-weight: 600;
}

nav>ul>li>a:hover {
  text-decoration: underline;
}

.banner {
  position: relative;
  top: -44px;
  z-index: -1;
  background-image: url('https://via.placeholder.com/1220x410?text=Banner');
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
}

.banner-text {
  width: 50%;
  padding: 130px 0 0 0;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  letter-spacing: 2px;
}

.banner-image>figure {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #292929;
  text-align: center;
}

.banner-heading {
  font-size: 30px;
}

.banner-desc {
  padding: 12px 0;
  font-size: 10px;
  font-weight: 600;
}

.features {
  margin-top: -44px;
  background-color: #ead045;
}

.flexbox {
  width: 100%;
  display: flex;
  padding: 23px 0 45px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.flexbox>.feature-section {
  width: 33.33%;
  padding: 23px 15px 0 15px;
  text-align: center;
}

.feature-icon {
  padding: 10px;
  background-color: #292929;
  border-radius: 50%;
  color: #ead045;
  font-size: 20px;
}

.feature-heading {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
}

.feature-desc {
  font-size: 10px;
  line-height: 1.5;
}

.details {
  padding: 23px 0;
  background-color: #292929;
  color: #ffffff;
}

.details-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-flex>.details-section {
  width: 33.33%;
  text-align: center;
}

.details-icon {
  padding: 8px;
  color: #ead045;
  font-size: 20px;
}

.details-text {
  padding: 0 0 2px 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 6px;
}

.details-small {
  padding: 4px 0 10px 0;
  font-size: 9px;
  font-weight: 600;
  opacity: 0.4;
}

.downloads-section {
  width: 100%;
  padding: 41px 0 46px 0;
  display: flex;
  flex-wrap: wrap;
}

.downloads-section>.downloads-text {
  width: 55%;
}

.downloads-section>.downloads-image {
  width: 45%;
}

.downloads-text>figure>a>img:hover {
  box-shadow: 0 0 2px #292929;
}

.downloads-image>figure>img {
  float: right;
}

.downloads-heading {
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding-top: 20px;
}

.downloads-desc {
  padding: 14px 0;
  font-size: 11px;
  line-height: 1.3;
}

footer,
.addresses>li>a {
  background-color: #141414;
  color: rgba(255, 255, 255, 0.4);
}

.addresses>li>a:hover {
  color: #ffffff;
}

.addresses>li {
  line-height: 1.6;
}

.icons {
  padding-right: 4px;
}

.footer-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-flex>.footer-about {
  width: 43%;
}

.footer-flex>.footer-contact {
  width: 25%;
}

.footer-flex>.footer-dload {
  width: 32%;
}

.footer-heading {
  padding-top: 30px;
  padding-bottom: 14px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.footer-desc,
.addresses {
  padding-right: 20px;
  font-size: 11px;
  line-height: 1.3;
}

.dload-links {
  padding-top: 8px;
}

.dload-links>li>a:hover {
  color: #ffffff;
}

.dload-links>li {
  display: inline;
  padding-right: 6px;
}

.dload-links>li>a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 11px;
  font-weight: 600;
}

.back-to-top {
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.back-to-top>a {
  color: rgba(255, 255, 255, 0.4);
}

.back-to-top>a:hover {
  color: #ffffff;
}

.copyright {
  width: 100%;
  padding: 5px 0 24px 0;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
}